:root {
  --green: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--grey-900);
  color: white;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--grey-800);
  width: 360px;
  height: fit-content;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

